/* Base Styles */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #F6F5F4;
  box-sizing: border-box;
  color: #3f4845;
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 30px;
}

main,
.container {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 50px;
}

header {
  color: #3f4845;
  font-family: "Oswald", sans-serif;
  margin: 10px 0 40px;
}


h1.title,
h2 {
  color: #3f4845;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-weight: 500;
  margin: 0;
}

.item a img,
.nav-item img {
  height: 24px;
  margin-bottom: 4px;
  width: 24px;
}

/* Overview */
.expiring-today {
  margin-bottom: 50px;
}

.modal {
  align-items: center;
  background: #333;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #F6F5F4;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-actions button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  min-width: 100px;
  padding: 12px 24px;
}

.danger {
  background-color: #dbff30;
  color: #3f4845;
}

#cancel-delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  color: #333;
  font-size: 1.1rem;
  font-weight: 700;
  min-width: 100px;
  padding: 14px 28px;
  text-align: center;
  user-select: none;
}

.notification-inline {
  background-color: #3f4845;
  border: 1px solid #dbff30;
  border-radius: 6px;
  color: #dbff30;
  font-weight: 400;
  margin-bottom: 12px;
  padding: 12px 16px;
  position: relative;
}

.notification-close {
  color: #dbff30;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  right: 12px;
  top: 4px;
}

/* Inventory Page */
.item {
  align-items: center;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.inventory-list .item {
  border-top: 1px solid #ccc;
}

.inventory-list .item:first-child {
  border-top: 1px solid #ccc;
}

.inventory-list .item:last-child {
  border-bottom: 1px solid #ccc;
}

.expiring-today .item,
.expiring-week .item {
  border-top: 1px solid #ccc;
}

.expiring-today .item:last-child,
.expiring-week .item:last-child {
  border-bottom: 1px solid #ccc;
}

.ingredients .item,
.steps .item {
  border-top: 1px solid #ccc;
}

.ingredients .item:first-child,
.steps .item:first-child {
  border-top: none;
}

.ingredients .item:last-child,
.steps .item:last-child {
  border-bottom: 1px solid #ccc;
}

.inventory-list .item:first-child {
  border-top: 1px solid #ccc;
}

.name {
  flex: 1 1 auto;
  font-weight: 500;
  margin-right: 10px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inventory-list .name {
  margin: 0;
}

.quantity {
  color: #555;
  font-size: 1rem;
  margin-right: 20px;
  min-width: 60px;
  text-align: right;
}

.inventory-list .date {
  font-size: 1rem;
}

.item-details {
  align-items: center;
  display: flex;
  flex-grow: 0;
  min-width: 0;
}

.item-right {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.edit-link {
  color: #3f4845;
  font-size: 1.1rem;
  margin-left: 10px;
  text-decoration: none;
}

.edit-link img {
  height: 24px;
  width: 24px;
}

/* Add Item Page */
#add-item {
  display: flex;
  flex-direction: column;
}

#add-item label {
  color: #3f4845;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 6px;
  text-transform: none;
}

#add-item input,
#add-item select {
  border: 1px solid #3f4845;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 46px;
  padding: 10px;
  width: 100%;
}

.add-item {
  align-items: center;
  background-color: #dbff30;
  border: none;
  border-radius: 6px;
  color: #3f4845;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

select {
  background: #F6F5F4;
  border: 1px solid #3f4845;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3f4845;
  font: inherit;
  padding: 10px;
  width: 100%;
}

.primary-button {
  align-items: center;
  background-color: #dbff30;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #3f4845;
  cursor: pointer;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.add-item-button {
  box-sizing: border-box;
  margin-bottom: 50px;
  width: 100%;
}

.plus-icon {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.confirmation-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#confirmation-message {
  align-items: center;
  color: #3f4845;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  height: 100vh;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

#confirmation-message p {
  font-weight: 500;
  padding-bottom: 80px;
}

.confirm {
  display: block;
  margin: 0 auto 16px auto;
  width: 200px;
}

/* Edit Item */
#edit-item-form {
  display: flex;
  flex-direction: column;
}

#edit-item-form label {
  color: #3f4845;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 6px;
  text-transform: none;
}

#edit-item-form input,
#edit-item-form select {
  border: 1px solid #3f4845;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;
}

.edit-header {
  display: flex;
  flex-direction: column;
  margin: 50px 0 40px;
  margin-bottom: 20px;
}

.edit-header .title {
  margin: 0;
  white-space: nowrap;
}

.title-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.back-arrow {
  align-items: center;
  display: inline-flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: auto;
}

.back-arrow img {
  display: block;
  height: 34px;
  margin-bottom: 20px;
  width: 34px;
}

#delete-bin {
  cursor: pointer;
  height: 34px;
  width: 34px;
}

.secondary-button {
  background-color: #dbff30;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #3f4845;
  cursor: pointer;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* Recipes */
#recipe-page header .recipe {
  display: block;
  height: auto;
  margin: 0;
  max-width: 900px;
  width: 100%;
}

#recipe-page h1.title {
  margin-bottom: 60px;
  margin-top: 0;
}

.ingredients {
  padding-bottom: 40px;
}

/* Batch Sizes Page */
#batch-sizes-page .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#batch-sizes-page header {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

#batch-sizes-page .title {
  margin-left: 0;
  text-align: left;
}

.become-member {
  align-items: center;
  background-color: #dbff30;
  border-radius: 6px;
  color: #3f4845;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  justify-content: center;
  margin: 50px 0;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.premium img {
  display: block;
  height: auto;
  margin: 0;
  width: 300px;
}

/* Bottom Nav */

.bottom-nav {
  align-items: center;
  background-color: #dbff30;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.nav-item {
  align-items: center;
  color: #3f4845;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: center;
  text-decoration: none;
}

/* Consistant style across browsers */
input,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-align: left;
  appearance: none;
  background-color: #F6F5F4;
  background-image: none;
  border: 1px solid #3f4845;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3f4845;
  direction: ltr;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 10px;
  text-align: left;
}

/* Specific fixes for date inputs */
input[type="date"] {
  background-color: #F6F5F4;
  line-height: normal;
  min-height: 42px;
  padding: 10px;
}

/* Hide Safari's default date picker */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
}

/* Specific fixes for select elements */
select {
  -webkit-text-align-last: left;
  background-color: #F6F5F4;
  direction: ltr;
  min-height: 42px;
  padding: 10px;
  padding-right: 35px;
  text-align: left;
  text-align-last: left;
}

/* Safari-specific overrides */
@supports (-webkit-appearance: none) {

  input[type="date"],
  select {
    -webkit-text-align: left;
    -webkit-text-fill-color: #3f4845;
    background-color: #F6F5F4;
    min-height: 42px;
    text-align: left;
  }

  /* Additional Safari select alignment */
  select {
    -webkit-text-align-last: left;
    text-align-last: left;
  }
}

/* iOS Safari - prevent zoom */
@supports (-webkit-touch-callout: none) {

  input,
  select {
    font-size: 16px;
    min-height: 44px;
  }
}