/* Base Styles */
body {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  color: #3f4845;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

main,
.container {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-bottom: 50px;
}

header {
  font-family: "Oswald", sans-serif;
  color: #3f4845;
  margin: 10px 0 40px;
}


h1.title,
h2 {
  font-family: "Oswald", sans-serif;
  color: #3f4845;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-weight: 500;
  margin: 0;
}

.item a img,
.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

/* Overview */
.expiring-today {
  margin-bottom: 50px;
}

/* Inventory Page */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  border: none;
}

.inventory-list .item {
  border-top: 1px solid #ccc;
}

.inventory-list .item:first-child {
  border-top: 1px solid #ccc;
}

.inventory-list .item:last-child {
  border-bottom: 1px solid #ccc;
}

.expiring-today .item,
.expiring-week .item {
  border-top: 1px solid #ccc;
}

.expiring-today .item:last-child,
.expiring-week .item:last-child {
  border-bottom: 1px solid #ccc;
}

.ingredients .item,
.steps .item {
  border-top: 1px solid #ccc;
}

.ingredients .item:first-child,
.steps .item:first-child {
  border-top: none;
}

.ingredients .item:last-child,
.steps .item:last-child {
  border-bottom: 1px solid #ccc;
}

.inventory-list .item:first-child {
  border-top: 1px solid #ccc;
}

.name {
  flex: 1 1 auto;
  font-weight: 500;
  margin-right: 10px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inventory-list .name {
  margin: 0;
}

.quantity {
  color: #555;
  text-align: right;
  min-width: 60px;
  margin-right: 20px;
  font-size: 1rem;
}

.inventory-list .date {
  font-size: 1rem;
}

.item-details {
  display: flex;
  align-items: center;
  flex-grow: 0;
  min-width: 0;
}

.item-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-link {
  color: #3f4845;
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: 10px;
}

.edit-link img {
  width: 24px;
  height: 24px;
}

/* Add Item Page */
#add-item {
  display: flex;
  flex-direction: column;
}

#add-item label {
  font-weight: 700;
  font-size: 1.3rem;
  color: #3f4845;
  text-transform: none;
  margin-bottom: 6px;
}

#add-item input,
#add-item select {
  padding: 10px;
  font-size: 1rem;
  font-family: "Bricolage Grotesque", sans-serif;
  border: 1px solid #3f4845;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 46px;
}

.add-item {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbff30;
  color: #3f4845;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  margin-bottom: 50px;
  border-radius: 6px;
}

.primary-button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: #dbff30;
  color: #3f4845;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.add-item-button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.plus-icon {
  font-size: 1.5rem;
}

.confirmation-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmation-message {
  display: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  font-size: 1.2rem;
  color: #3f4845;
}

#confirmation-message p {
  padding-bottom: 80px;
  font-weight: 500;
}

img.confirm {
  width: 200px;
  display: block;
  margin: 0 auto 16px auto;
}

/* Edit Item */
#edit-item-form {
  display: flex;
  flex-direction: column;
}

#edit-item-form label {
  font-weight: 700;
  font-size: 1.3rem;
  color: #3f4845;
  text-transform: none;
  margin-bottom: 6px;
}

#edit-item-form input,
#edit-item-form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #3f4845;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.edit-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0 40px;
}

.edit-header .title {
  margin: 0;
  white-space: nowrap;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-arrow {
  display: inline-flex;
  align-items: center;
  width: auto;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.back-arrow img {
  width: 34px;
  height: 34px;
  display: block;
  margin-bottom: 20px;
}

#delete-bin {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.secondary-button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #dbff30;
  color: #3f4845;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;

  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Recipe Page */
#recipe-page header img.recipe {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 900px;
  height: auto;
}

#recipe-page h1.title {
  margin-top: 0;
  margin-bottom: 60px;
}

.ingredients {
  padding-bottom: 40px;
}

/* Batch Sizes Page */
#batch-sizes-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#batch-sizes-page header {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

#batch-sizes-page .title {
  text-align: left;
  margin-left: 0;
}

.become-member {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbff30;
  color: #3f4845;
  text-decoration: none;
  margin: 50px 0;
  width: 100%;
  border-radius: 6px;
  padding: 12px 16px;
}

.premium img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0;
}

/* Bottom Nav */
:root {
  --bottom-nav-height: 60px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-nav-height);
  background-color: #dbff30;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #3f4845;
  font-size: 0.9rem;
}


/* Modal All Pages */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: 700;
  min-width: 100px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

button.danger {
  background-color: #dbff30;
  color: #3f4845;
}

#cancel-delete {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #333 !important;
  background-color: #eee;
  font-weight: 700;
  padding: 14px 28px;
  font-size: 1.1rem;
  border-radius: 6px;
  min-width: 100px;
  text-align: center;
  user-select: none;
}

.notification-inline {
  background-color: #3f4845;
  border: 1px solid #dbff30;
  color: #dbff30;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-weight: 450;
  position: relative;
}

.notification-close {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 30px;
  font-weight: 500;
  color: #dbff30;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Consistant style across browsers */
input[type="date"], input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #3f4845;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 46px;
  color: #3f4845;
  line-height: normal;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.notification {
  background-color: #fffae6;
  border: 1px solid #f5c518;
  color: #b37700;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-weight: 600;
}

.hidden {
  display: none;
}